<div class="container">
<p>
  <%= @post.id%> 번째 게시글
</p>
<p>
  제목 : <%= @post.title%>
</p>
<p>
  내용 : <%= @post.content%>
</p>
<button type="button" class="btn btn-light"  onclick = "location.href = '/posts/<%=@post.id%>/edit'">수정하기</button>
<!-- <a href="/posts/<%=@post.id%>/edit">수정하기</a> -->
</div>
